@import url('https://fonts.googleapis.com/css?family=Merienda');
@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');

body{
    font-family: 'Muli', sans-serif;
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
  }

.center-div
{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 70%;
  background-color: #fff;
  border-radius: 3px;
}

div.center-div p{
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 3em;
}

 .button {
    background-color: #fff; 
    border: 2px solid #B32C2E ;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
    font-family: 'Merienda', cursive;
    cursor: pointer;
}

.button4 {border-radius: 40px;}

.button:hover{
    background-color: #B32C2E; 
    color: #fff;
}

.text-rouge{
    color: #B32C2E;
    
}

.text-bleu{
    color: #3D479D;
    /* text-decoration: underline; */
}


.page-titre{
    font-size: 4em;
    color: #3D479D;
    font-weight: bold;
    font-family: 'Merienda', cursive;
    margin-bottom: 1em;
}


.cosmetique{
    background-image: url('../img/')
}


/* admin panel */

ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}

.p-titre{
    padding: 30px;
}

.sidebar-header{
    padding:30px;
}

#content{
    margin-left: 300px; /* Same as the width of the sidenav */
    padding: 50px;
}
#sidebar{
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
}

.accordion {
    width: 100%;
    max-width: 360px;
   /* margin: 30px auto 20px;*/
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }
  
  .accordion li.open .link { color: #b63b4d; }
  
  .accordion li.open i { color: #b63b4d; }
  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  /**
   * Submenu
   -----------------------------*/
  
  
  .submenu {
    display: none;
    background: #444359;
    font-size: 14px;
  }
  
  .submenu li { border-bottom: 1px solid #4b4a5e; }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: #b63b4d;
    color: #FFF;
  }

h2.ad-titre{
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #B32C2E;
    font-size: 35px;
    text-align: center;
    position: relative;
}

h2.ad-titre:before{
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 22px;
    background: #B32C2E;
    height: 1px;
}

h2.ad-titre i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}
:focus{outline: none;}


/* formulaire design */
